.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(3px + 1vw);
  color: #23006d;

  font-family: "SF Pro", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.65);
}

header {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  text-align: center;
  font-size: calc(10px + 1vw);
}

h1 {
  font-weight: bold;
}

p {
  font-size: 0.9em;
  padding-top: 5px;
}

.barIcon {
  font-size: calc(30px + 1vw);
  cursor: pointer;
}

.barIcon:hover,
.barIcon:focus {
  color: #c057d0;
}
