.optionPage {
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 850px) {
  .optionInst {
    font-size: calc(20px + 1vw);
    margin-left: 10px;
    margin-right: 10px;
  }
}
