.playerNumForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="number"] {
  margin-top: 50px;
  width: 100px;
  height: calc(45px + 1vw);
  border-radius: 10px;
  font-size: calc(30px + 1vw);
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(170, 170, 204, 0.25),
    inset 5px 5px 10px rgba(170, 170, 204, 0.5), inset -5px -5px 10px #ffffff;
  text-align: center;
}

input::placeholder {
  color: rgba(170, 170, 204, 0.7);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;

  background: transparent !important;
  border-left: 1px solid #d8d8d8;
  cursor: pointer;
}

input[type="number"]:focus {
  outline: none;
}

.next {
  margin-top: 25px;
}
