.instruction {
  font-family: "SF Pro Rounded", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: calc(20px + 1.5vw);
  line-height: calc(22px + 1.5vw);
  text-align: center;
  letter-spacing: 0.1em;

  color: #fffba3;

  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.48);
  margin: calc(60px + 1vw) calc(10px + 2vw) 0 calc(10px + 2vw);
}
